* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	height: 100%;
}

$size: 5rem;

button {
	min-width: $size;
	min-height: $size;
	margin: calc($size/20);
	font-size: calc($size/4);
}

.calculator {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.display-container {
	margin: calc($size/20);
	border: solid black 1px;
	font-size: calc($size/4);

	& > * {
		display: flex;
		min-height: calc($size/2);
		align-items: center;
		padding: 0 1rem;
	}
}

.display-upper {
	justify-content: flex-start;
}
.display-lower {
	justify-content: flex-end;
}

.input > * {
	display: flex;
}
